<div id="brand" class="container">
  <div class="row">
    <div class="col-md-6 offset-md-4">
      <img src="../../../assets/imgs/logo.png" alt="logo">
      <h2>Github User Finder</h2>
    </div>
  </div>
  
  <!-- <a (click)="changePage(3)">Próxima página</a> -->
</div>

<div class="container">
  <mdb-card>
    <div class="row">
        <app-loader *ngIf="showLoader"></app-loader>
    </div>
    <div *ngIf="!showLoader">
    <div class="row">
        <mdb-card-body>
            <div class="col-md-12">
              <table mdbTable bordered="true">
                  <app-loader *ngIf="showTableLoader"></app-loader>
                    <thead>
                      <tr>
                        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr mdbTableCol *ngFor="let user of users">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.login}}</td>
                        <td>
                            <button routerLink="/user-details/{{ user.login }}" type="button" mdbBtn color="info" size="sm" mdbWavesEffect>Detalhes</button>
                        </td> 
                      </tr>
                    </tbody>
                    <tfoot class="grey lighten-5 w-100">
                      <nav aria-label="Page navigation example">
                          <div class="col-md-12">
                              <ul class="pagination pg-blue">
                                <li class="page-item">
                                  <a class="page-link"  mdbWavesEffect (click)="toPrevPage()">Anterior</a>
                                </li>
  
                                <li class="page-item active">
                                  <a class="page-link" mdbWavesEffect><mdb-icon fas icon="infinity"></mdb-icon><span class="sr-only">(current)</span></a>
                                </li>
      
                                <li class="page-item">
                                  <a class="page-link" mdbWavesEffect (click)="toNextPage()">Próximo</a>
                                </li>
                              </ul>
                            </div>
                         </nav>

                      </tfoot>
                  </table>
                </div>
          </mdb-card-body>
        </div>
    </div>
    </mdb-card>
  </div>