<div class="container">

  <mdb-card>
    <app-loader *ngIf="showLoader"></app-loader>
    <mdb-card-body>
        <div *ngIf="!showLoader">
            <div class="row">
              <div class="col-md-4 offset-md-1">
                  <img src="{{ user.photo }}" alt="user_image" style="border-radius: 50%; max-width: 200px">
              </div>
              <div class="username col-md-7">
                  <h1> {{ user.name }} </h1>
              </div>
            </div>

            <hr class="my-2">
              
            <div id="details-content" class="row">

                <h1> Repositórios </h1>
                <table mdbTable hover="true" id="details-table">
                    <app-loader *ngIf="showTableLoader"></app-loader>
                    <thead>
                      <tr>
                        <th> Repositório </th>
                        <th> Link </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr mdbTableCol *ngFor="let repo of user.repos">
                        <td>{{ repo.full_name}}</td>
                        <td> <a href="{{ repo.html_url }}" target="_blank">Acessar página</a> </td>
                      </tr>
                    </tbody>
                    <tfoot class="grey lighten-5 w-100">
                          <nav aria-label="Page navigation example">
                              <ul class="pagination pg-blue">
                                <li class="page-item">
                                  <a class="page-link" tabindex="-1" mdbWavesEffect (click)="toPrevPage()">Anterior</a>
                                </li>
  
                                <li class="page-item active">
                                  <a class="page-link" mdbWavesEffect> {{ nextPage }} <span class="sr-only">(current)</span></a>
                                </li>
      
                                <li class="page-item">
                                  <a class="page-link" mdbWavesEffect (click)="toNextPage()">Próximo</a>
                                </li>
                              </ul>
                         </nav>
                      </tfoot>
                  </table>
            </div>
          </div>

    </mdb-card-body>
  </mdb-card>
</div>
